{% extends 'layout.html' %}
{% block content %}
  <h1>Task List</h1>
  <div style="height: 30px;"></div>
  {% if tasks|length < 1 %}
    <p>You haven't recorded any task yet</p>
  {% else %}
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Task</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.sl }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.duration }}</td>
          <td>
            <button type="button" onclick="window.location.href='/edit/{{ task.id }}?theme={{ theme }}'">Edit</button>
            <button type="button" onclick="window.location.href='/delete/{{ task.id }}?theme={{ theme }}'">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('reset') }}?theme={{ theme }}">
      <button type="submit">Reset</button>
    </form>
  {% endif %}
  <div style="height: 30px;"></div>
  {% if current_task == None %}
    <p>You don't have any task running rn</p>
  {% else %}
    <form action="{{ url_for('stop', id=current_task.id) }}?theme={{ theme }}" method="post">
      <b>Current task: </b>{{ current_task.name }}
      <button type="submit">Stop</button>
    </form>
    {% endif %}
  <div style="height: 30px;"></div>
  <form action="{{ url_for('add') }}?theme={{ theme }}" method="post">
    <input type="text" name="name" required placeholder="Task name">
    <button type="submit">Start</button>
  </form>
{% endblock content %}